<%- include('partials/layout_top') %>
<section class='card'><h2>Programação Oficial</h2><div class='card'><h3>Palestra: Segurança Web</h3><p>14/10 - 10:00</p></div></section>
<%- include('partials/layout_bottom') %>