<%- include('partials/layout_top') %>
<section class='card'><h2>Sobre a SECOMP</h2><p>Semana da Computação UFRR — eventos, palestras e minicursos.</p></section>
<%- include('partials/layout_bottom') %>